BOT_TOKEN=

ADMIN_TG_ID=1283802964

# Логин для локального iiko API
IIKO_API_LOGIN=

# Пароль для локального iiko API
IIKO_API_PASSWORD=

# Базовый URL локального iiko API (например: https://dreamteam-co.iiko.it/resto/api)
IIKO_BASE_URL=https://dreamteam-co.iiko.it/resto/api

DEFAULT_REPORT_TIME=23:00

DEFAULT_ALERT_THRESHOLD_PCT=15

DEFAULT_ROLLING_DAYS=7

TZ=Europe/Moscow

